li { 
	list-style-type: square;
}

.underline {
	text-decoration: underline;
}

#cena {
	color: red;
	font-weight: bold;
}	

.wstęp {
	font-style: italic;
}

img {
	border-style: solid;
	border-color: blue;
	border-radius: 16px;
}

img:hover {
	border-color: red;
}

h2 {
	letter-spacing: 5px;
}

td[colspan="2"] {
	 font-size: small;
}

p {
	text-align: justify;
}

p + p {
	color: gray;
}

body {
	background-image: url(books.png); 
	background-repeat: repeat-y;
	margin: 5em 10em 5em 10em;
}

* {
	font-family: Tahoma;
}

h1 { color: blue }
h1 { color: green }
h1 { color: yellow !important}