@{
    Page.Title = "Suit v6";
}
<img src="~/Images/Arc2.png" alt="Arc reactor (Vibranium)" />
@section Links{
    <a href="Mark3.cshtml">Mark III</a>
}
@section Info {
    <p>
        The Mark VI, was the sixth suit created by Tony Stark after he made a better Arc
        Reactor. The Mark VI is designed to be powered by Vibranium, instead of Palladium. Made using
        the same gold Titanium Alloy, it debuted with War Machine in the final fight of Iron Man 2.
    </p>
}
