* {
  box-sizing: border-box;
}

[class*="col-"] {
  float: left;
}

body {
  margin: 0px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  font-size: 16px;
  min-height: 100%;
}

menu {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

menu div {
  display: block;
  margin-right: 50px;
  clear: left;
}

.title {
  font-size: 200%;
  display: block;
  position: absolute;
  left: 125px;
  top: 15px;
}

.logo {
  font-size: 300%;
  position: absolute;
  left: 25px;
  top: 5px;
}

.footer {
  position: relative;
  left: -0.5px;
  right: -0.5px;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: black;
}

.footer div {
  background-color: #f6ddcc;
  text-align: center;
}

.bold {
  font-weight: bold;
}

/* Large */
.main {
  display: flex;
  /* This aligns items to the end line on main-axis */
  justify-content: space-around;
  margin: 10px 10px 10px 10px;
}

.main::after {
  content: "";
  clear: both;
  display: table;
}

.content {
  position: relative;
  clear: right;
  padding: 20px 15px 20px 15px;
}

.main > div {
  border-style: solid;
  border-color: black;
  border-width: 0.5px;
  background-color: #f6ddcc;
  margin: 10px 10px 10px 10px;
}

.icon {
  display: none;
}

.header {
  position: relative;
  float: right;
  display: block;
  top: -0.5px;
  right: -0.5px;
  border-color: black;
  border-style: solid;
  border-width: 0.5px;
  text-align: center;
  font-size: 150%;
  width: 50%;
  background: lightcoral;
}

.first {
  background: aqua;
}

.second {
  background: darkorange;
}

.col-lg-1 {
  width: 8.3333333333%;
  float: left;
}

.col-lg-2 {
  width: 9.0909090909%;
  float: left;
}

.col-lg-3 {
  width: 10%;
  float: left;
}

.col-lg-4 {
  width: 11.1111111111%;
  float: left;
}

.col-lg-5 {
  width: 12.5%;
  float: left;
}

.col-lg-6 {
  width: 14.2857142857%;
  float: left;
}

.col-lg-7 {
  width: 16.6666666667%;
  float: left;
}

.col-lg-8 {
  width: 20%;
  float: left;
}

.col-lg-9 {
  width: 25%;
  float: left;
}

.col-lg-10 {
  width: 33.3333333333%;
  float: left;
}

.col-lg-11 {
  width: 50%;
  float: left;
}

.col-lg-12 {
  width: 100%;
  float: left;
}

/* Tablet screens */
@media all and (min-width: 600px) and (max-width: 1024px) {
  .main {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    display: flex;
    justify-content: space-around;
    margin: 10px 10px 10px 10px;
  }

  .icon {
    display: block;
    background-color: #f6ddcc;
    border-color: black;
    border-style: solid;
    border-width: 0.5px;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
  }

  menu div:not(:last-child) {
    display: none;
  }

  .col-md-1 {
    width: 8.3333333333%;
  }

  .col-md-2 {
    width: 9.0909090909%;
  }

  .col-md-3 {
    width: 10%;
  }

  .col-md-4 {
    width: 11.1111111111%;
  }

  .col-md-5 {
    width: 12.5%;
  }

  .col-md-6 {
    width: 14.2857142857%;
  }

  .col-md-7 {
    width: 16.6666666667%;
  }

  .col-md-8 {
    width: 20%;
  }

  .col-md-9 {
    width: 25%;
  }

  .col-md-10 {
    width: 33.3333333333%;
  }

  .col-md-11 {
    width: 50%;
  }

  .col-md-12 {
    width: 100%;
  }
}
/* Small screens */
@media all and (max-width: 599px) {
  .main {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
    display: flex;
    /* This aligns items to the end line on main-axis */
    justify-content: space-around;
    margin: 10px 10px 10px 10px;
  }

  .icon {
    display: block;
    background-color: #f6ddcc;
    border-color: black;
    border-style: solid;
    border-width: 0.5px;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
  }

  .title {
    display: none;
  }

  menu div:not(:last-child) {
    display: none;
  }

  .col-sm-1 {
    width: 8.3333333333%;
  }

  .col-sm-2 {
    width: 9.0909090909%;
  }

  .col-sm-3 {
    width: 10%;
  }

  .col-sm-4 {
    width: 11.1111111111%;
  }

  .col-sm-5 {
    width: 12.5%;
  }

  .col-sm-6 {
    width: 14.2857142857%;
  }

  .col-sm-7 {
    width: 16.6666666667%;
  }

  .col-sm-8 {
    width: 20%;
  }

  .col-sm-9 {
    width: 25%;
  }

  .col-sm-10 {
    width: 33.3333333333%;
  }

  .col-sm-11 {
    width: 50%;
  }

  .col-sm-12 {
    width: 100%;
  }
}

