$border-width: 0.5px;
$def-background-color: #f6ddcc;

* {
    box-sizing: border-box;
}

[class*="col-"] {
            float: left;
}

body {
  margin: 0px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  font-size: 16px;
  min-height: 100%;
}

menu {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

menu div {
  display: block;
  margin-right: 50px;
  clear: left;
}

.title {
  font-size: 200%;
  display: block;
  position: absolute;
  left: 125px;
  top: 15px;
}

.logo {
  font-size: 300%;
  
  position: absolute;
  left: 25px;
  top: 5px;
}

.footer {
  position: relative;
  left: -0.5px;
  right: -0.5px;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: black;
}

.footer div {
  background-color: $def-background-color;
  text-align: center;
}

.bold {
  font-weight: bold;
}

/* Large */
.main {
  display: flex;
  /* This aligns items to the end line on main-axis */
  justify-content: space-around;
  margin: 10px 10px 10px 10px;
}

.main::after {
   content: "";
   clear: both;
   display: table;
}

.content {
  position: relative;
  clear: right;
  padding: 20px 15px 20px 15px;
}

.main > div {
  border-style: solid;
  border-color: black;
  border-width: $border-width;
  background-color: $def-background-color;
  margin: 10px 10px 10px 10px;
}

.icon {
  display: none;
}

.header {
  position: relative;
  float: right;
  display: block;
  top: -$border-width;
  right: -$border-width;
  border-color: black;
  border-style: solid;
  border-width: $border-width;
  text-align: center;
  font-size: 150%;
  width: 50%;
  background: lightcoral;
}

.first{
  background: aqua;
}

.second{
  background: darkorange;
}

@for $i from 1 through 12 {
  .col-lg-#{$i} {
    width: 100%/(13-$i);
    float: left;
  }
}

/* Tablet screens */
@media all and (min-width: 600px) and (max-width: 1024px) {
  .main {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    display: flex;
    justify-content: space-around;
    margin: 10px 10px 10px 10px;
  }
  
  .icon {
    display: block;
    background-color: $def-background-color;
    border-color: black;
    border-style: solid;
    border-width: $border-width;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
  }
  
  menu div:not(:last-child) {
    display: none;
  }
  
  @for $i from 1 through 12 {
    .col-md-#{$i} {
      width: 100%/(13-$i);
    }
  }
}

/* Small screens */
@media all and (max-width: 599px) {
  .main {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
    display: flex;
    /* This aligns items to the end line on main-axis */
    justify-content: space-around;
    margin: 10px 10px 10px 10px;
  }
  
  .icon {
    display: block;
    background-color: $def-background-color;
    border-color: black;
    border-style: solid;
    border-width: $border-width;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
  }
  
  .title {
    display: none;
  }
  
  menu div:not(:last-child) {
    display: none;
  }
  
  @for $i from 1 through 12 {
    .col-sm-#{$i} {
      width: 100%/(13-$i);
    }
  }
}
